section {
    background-color: white;
    display: block;
    margin: 30px auto 30px auto;
    width: 960px;
    padding: 20px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img {
    width: 160px;
    height: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}

hr {
    margin-bottom: 15px;
}

.quotes {
    padding-bottom: 15px;
}
.quoteMarks {
    font-size: large;
    font-style: monospace;
}
.qName {
    color: #888;
    font-weight: bold;
    font-size: small;
    float: right;
}

#profilePic {
    display: block;
    float: left;
    margin: 5px 15px 10px 0px;
    object-fit: contain;
}

#aboutMe {
    margin: 10px 0 20px 0px;
    color: steelblue;
}

